<div class="full-page-width login-page">

		<div class="setup-form">

			<button ng-click="login()" class="btn btn-primary btn-hg">
				Log in with Facebook
			</button>
			<div class="login-text">
				<p>Signup is super quick</p>
				<p><strong>Always 100% Free</strong></p>
				<p>Cancel your account any time</p>
				<p>We <strong>never</strong> post anything to your Facebook page without asking you first.</p>
				<!-- <a ng-click="showEmailSignup()">I prefer to signup with email</a> -->
				<a href="http://www.energ.io/how-it-works" target="_blank">Why login with Facebook</a>
			</div>
		</div>
		
	</div>
	<!-- <div ng-show="showEmail" class="full-page-width login-page">
		<form ng-submit="emailSignup()">
			
		
		<div class="setup-form">
			<div class="input-group home-input-group setup-form-item">
				<span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
				<input type="text" class="form-control home_input" placeholder="First Name" ng-model="fname"/>
			</div>
			<div class="input-group home-input-group setup-form-item">
				<span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
				<input type="text" class="form-control home_input" placeholder="Email" ng-model="email"/>
			</div>
			<div class="input-group home-input-group setup-form-item">
				<span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
				<input type="text" class="form-control home_input" placeholder="Password" ng-model="password"/>
			</div>
			<button class="btn btn-primary btn-lg" ng-disabled="disableSubmit">Start Tracking Energy</button>
		</div>
		</form>
	</div>
	<br>
	<br>
	<br> -->

