<h2>Enter Meter Reads Here</h2>
	<form ng-submit="saveMeterRead()">
		<div class="form-group">
			<div class="input-group home-input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
				<input type="text" class="form-control home_input" placeholder="Meter Reading" ng-model="meter_read"/>
			</div>		
		</div>
		<div class="form-group">
			<div class="input-group home-input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
				<input type="text" class="form-control home_input" placeholder="Location" ng-model="location"/>
			</div>		
		</div>
		<button class="btn btn-primary btn-lg">Submit</button>
	</form>
	